/* Estilo del fondo */
#cardBackground {
    position: absolute;
    /* Cambiado de fixed a absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
}

.CardSection {
    position: relative;
    /* overflow: hidden;
    height: 561px; */
    box-shadow: 0px 21px 36px -9px #f2ebfd;
    /* Ya lo tienes */
}
